/*
 * Cell Block
 * The Black Iron Software Platform is a multi-tenant SaaS coupled with an OAuth compliant authentication service that helps jump start SaaS software development.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: info@blackironsoftware.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AuthenticateInput;
import org.openapitools.client.model.AuthenticateOutput;
import org.openapitools.client.model.Error;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class IdentitiesApi {
    private ApiClient localVarApiClient;

    public IdentitiesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public IdentitiesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for authenticate
     * @param cellId Cell ID (required)
     * @param authenticateInput  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Everything worked as expected. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The request was unacceptable, often due to missing a required parameter. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on Black Iron Software&#39;s end. (These are rare.) </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call authenticateCall(String cellId, AuthenticateInput authenticateInput, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = authenticateInput;

        // create path and map variables
        String localVarPath = "/cells/{cellId}/identities.authenticate"
            .replaceAll("\\{" + "cellId" + "\\}", localVarApiClient.escapeString(cellId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call authenticateValidateBeforeCall(String cellId, AuthenticateInput authenticateInput, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'cellId' is set
        if (cellId == null) {
            throw new ApiException("Missing the required parameter 'cellId' when calling authenticate(Async)");
        }
        

        okhttp3.Call localVarCall = authenticateCall(cellId, authenticateInput, _callback);
        return localVarCall;

    }

    /**
     * Authenticates an identity
     * 
     * @param cellId Cell ID (required)
     * @param authenticateInput  (optional)
     * @return AuthenticateOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Everything worked as expected. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The request was unacceptable, often due to missing a required parameter. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on Black Iron Software&#39;s end. (These are rare.) </td><td>  -  </td></tr>
     </table>
     */
    public AuthenticateOutput authenticate(String cellId, AuthenticateInput authenticateInput) throws ApiException {
        ApiResponse<AuthenticateOutput> localVarResp = authenticateWithHttpInfo(cellId, authenticateInput);
        return localVarResp.getData();
    }

    /**
     * Authenticates an identity
     * 
     * @param cellId Cell ID (required)
     * @param authenticateInput  (optional)
     * @return ApiResponse&lt;AuthenticateOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Everything worked as expected. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The request was unacceptable, often due to missing a required parameter. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on Black Iron Software&#39;s end. (These are rare.) </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AuthenticateOutput> authenticateWithHttpInfo(String cellId, AuthenticateInput authenticateInput) throws ApiException {
        okhttp3.Call localVarCall = authenticateValidateBeforeCall(cellId, authenticateInput, null);
        Type localVarReturnType = new TypeToken<AuthenticateOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Authenticates an identity (asynchronously)
     * 
     * @param cellId Cell ID (required)
     * @param authenticateInput  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Everything worked as expected. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> The request was unacceptable, often due to missing a required parameter. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Something went wrong on Black Iron Software&#39;s end. (These are rare.) </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call authenticateAsync(String cellId, AuthenticateInput authenticateInput, final ApiCallback<AuthenticateOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = authenticateValidateBeforeCall(cellId, authenticateInput, _callback);
        Type localVarReturnType = new TypeToken<AuthenticateOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
